.transfer {
    --transfer-border-color: var(--border-color-lighter);
    --transfer-border-radius: var(--border-radius-base);
    --transfer-panel-width: 200px;
    --transfer-panel-header-height: 40px;
    --transfer-panel-header-bg-color: var(--fill-color-light);
    --transfer-panel-footer-height: 40px;
    --transfer-panel-body-height: 278px;
    --transfer-item-height: 30px;
    --transfer-filter-height: 32px
}

.transfer {
    font-size: var(--font-size-base)
}

.transfer__buttons {
    display: inline-block;
    vertical-align: middle;
    padding: 0 30px
}

.transfer__button {
    vertical-align: top
}

.transfer__button:nth-child(2) {
    margin: 0 0 0 10px
}

.transfer__button i,.transfer__button span {
    font-size: 14px
}

.transfer__button .icon+span {
    margin-left: 0
}

.transfer-panel {
    overflow: hidden;
    background: var(--bg-color-overlay);
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: var(--transfer-panel-width);
    max-height: 100%;
    box-sizing: border-box;
    position: relative
}

.transfer-panel__body {
    height: var(--transfer-panel-body-height);
    border-left: 1px solid var(--transfer-border-color);
    border-right: 1px solid var(--transfer-border-color);
    border-bottom: 1px solid var(--transfer-border-color);
    border-bottom-left-radius: var(--transfer-border-radius);
    border-bottom-right-radius: var(--transfer-border-radius);
    overflow: hidden
}

.transfer-panel__body.is-with-footer {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.transfer-panel__list {
    margin: 0;
    padding: 6px 0;
    list-style: none;
    height: var(--transfer-panel-body-height);
    overflow: auto;
    box-sizing: border-box
}

.transfer-panel__list.is-filterable {
    height: calc(100% - var(--transfer-filter-height) - 30px);
    padding-top: 0
}

.transfer-panel__item {
    height: var(--transfer-item-height);
    line-height: var(--transfer-item-height);
    padding-left: 15px;
    display: block!important
}

.transfer-panel__item+.transfer-panel__item {
    margin-left: 0
}

.transfer-panel__item.checkbox {
    color: var(--text-color-regular)
}

.transfer-panel__item:hover {
    color: var(--color-primary)
}

.transfer-panel__item.checkbox .checkbox__label {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    box-sizing: border-box;
    padding-left: 22px;
    line-height: var(--transfer-item-height)
}

.transfer-panel__item .checkbox__input {
    position: absolute;
    top: 8px
}

.transfer-panel__filter {
    text-align: center;
    margin: 15px;
    box-sizing: border-box;
    width: auto
}

.transfer-panel__filter .input__inner {
    height: var(--transfer-filter-height);
    width: 100%;
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: calc(var(--transfer-filter-height) / 2)
}

.transfer-panel__filter .icon-circle-close {
    cursor: pointer
}

.transfer-panel .transfer-panel__header {
    display: flex;
    align-items: center;
    height: var(--transfer-panel-header-height);
    background: var(--transfer-panel-header-bg-color);
    margin: 0;
    padding-left: 15px;
    border: 1px solid var(--transfer-border-color);
    border-top-left-radius: var(--transfer-border-radius);
    border-top-right-radius: var(--transfer-border-radius);
    box-sizing: border-box;
    color: var(--color-black)
}

.transfer-panel .transfer-panel__header .checkbox {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center
}

.transfer-panel .transfer-panel__header .checkbox .checkbox__label {
    font-size: 16px;
    color: var(--text-color-primary);
    font-weight: 400
}

.transfer-panel .transfer-panel__header .checkbox .checkbox__label span {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate3d(0,-50%,0);
    color: var(--text-color-secondary);
    font-size: 12px;
    font-weight: 400
}

.transfer-panel .transfer-panel__footer {
    height: var(--transfer-panel-footer-height);
    background: var(--bg-color-overlay);
    margin: 0;
    padding: 0;
    border: 1px solid var(--transfer-border-color);
    border-bottom-left-radius: var(--transfer-border-radius);
    border-bottom-right-radius: var(--transfer-border-radius)
}

.transfer-panel .transfer-panel__footer:after {
    display: inline-block;
    content: "";
    height: 100%;
    vertical-align: middle
}

.transfer-panel .transfer-panel__footer .checkbox {
    padding-left: 20px;
    color: var(--text-color-regular)
}

.transfer-panel .transfer-panel__empty {
    margin: 0;
    height: var(--transfer-item-height);
    line-height: var(--transfer-item-height);
    padding: 6px 15px 0;
    color: var(--text-color-secondary);
    text-align: center
}

.transfer-panel .checkbox__label {
    padding-left: 8px
}

.transfer-panel .checkbox__inner {
    height: 14px;
    width: 14px;
    border-radius: 3px
}

.transfer-panel .checkbox__inner:after {
    height: 6px;
    width: 3px;
    left: 4px
}


.transfer-panel__item.is-disabled, .transfer-panel__item.is-disabled:hover {
    color: var(--disabled-text-color);
    cursor: not-allowed;
}