.empty {
    --empty-padding: 40px 0;
    --empty-image-width: 160px;
    --empty-description-margin-top: 20px;
    --empty-bottom-margin-top: 20px;
    --empty-fill-color-0: var(--color-white);
    --empty-fill-color-1: #fcfcfd;
    --empty-fill-color-2: #f8f9fb;
    --empty-fill-color-3: #f7f8fc;
    --empty-fill-color-4: #eeeff3;
    --empty-fill-color-5: #edeef2;
    --empty-fill-color-6: #e9ebef;
    --empty-fill-color-7: #e5e7e9;
    --empty-fill-color-8: #e0e3e9;
    --empty-fill-color-9: #d5d7de;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    padding: var(--empty-padding)
}

.empty__image {
    width: var(--empty-image-width)
}

.empty__image img {
    user-select: none;
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: contain
}

.empty__image svg {
    color: var(--svg-monochrome-grey);
    fill: currentColor;
    width: 100%;
    height: 100%;
    vertical-align: top
}

.empty__description {
    margin-top: var(--empty-description-margin-top)
}

.empty__description p {
    margin: 0;
    font-size: var(--font-size-base);
    color: var(--text-color-secondary)
}

.empty__bottom {
    margin-top: var(--empty-bottom-margin-top)
}
